// .Gause-chart{
//     width: 100%;
//     height: 50%;
// }

#chartdiv1{
    width: 100%;
    height: 50%;
}
#chartdiv2 {
    width: 100%;
    height: 50%;
}
#chartdiv3 {
    width: 100%;
    height: 50%;
}
#chartdiv4 {
    width: 100%;
    height: 50%;
}