.filter{
    display: flex;
    justify-content: space-between;

    .filterSpecs{
        display: flex;
        align-items: center;
        column-gap: 16px;

        .filter-menu{
            background-color: #FFFFFF;
            border-radius: 22.5px;
            border-width: 0;
            height: 36px;
            text-align: center;
        }
        #carStatus{
            width: 122px;
        }
        #carType{
            width: 143px;
        }
    }
    .filterSorting{
        display: flex;
        img{
            width: 44px;
            height: 44px;
        }
    }
}