.miles-stats{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #FFFFFF;
    border-radius: 14px;
    padding: 20px;
    width: 40%;
    .head{
        font-family: sans-serif;
        .bold{
            font-weight: 700;
        }
        .fair{
            font-weight: 400;
        }
    }
    .middle{
        display: flex;
        justify-content: space-between;
        span{
            color: #5F6165;
            font-weight: 700;
            font-family: sans-serif;
            font-size: 14px;
        }
        .btns-section{
            display: flex;
            Button{
                border: 0 solid white;
                background-color: #FFFFFF;
            }
            Button:focus{
                background-color: #2884FF;
            }
        }
    }
}


@media (max-width: 1030px) {
    .miles-stats {
        width: 36%;
    }
}

@media (max-width: 380px) {
    .miles-stats {
        width: 80%;
    }
}